.item_sector {
    width: 172px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    border: 2px solid #e4e2dc;
}

.block_sector {
    display: flex;
    position: absolute;

    bottom: 0px;

    color: white;
    user-select: none;
}

@media (max-width: 768px) {
    .item_sector {
        width: 89px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border: 2px solid #e4e2dc;
    }
}